@font-face {
    font-family: LSBSymbol;
    src: url('https://www.oslcnc.com/s/LSBSymbol.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.slide {
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.center {
    justify-content: center;
}

.lower {
    width: 100%;
    bottom: 0;
    align-items: center;
    padding: 2rem 3rem;
    min-height: 200px;
}

.full {
    padding: 2.5rem 4.5rem;
    width: 100%;
    top: 15%;
    bottom: 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.full strong {
    display: inline-block;
    margin: 0.5rem 0;
}

.large {
    font-size: 130%;
}

.half-right {
    min-height: 100%;
    padding: 0 3.2rem;
    left: 50%;
    right: 0;
}

.half-left {
    min-height: 100%;
    padding: 0 3.2rem;
    right: 50%;
    left: 0;
}

.blank {
    background-color: transparent;
    color: #000;
    position: relative;
    display: block;
}

strong {
    font-weight: 700;
}

sup {
    opacity: 0.5;
}

.slide img {
    width: 100%;
}
