.slide {
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.center {
    justify-content: center;
}

.lower {
    width: 100%;
    bottom: 0;
    align-items: center;
    padding: 20px 70px;
    min-height: 200px;
}

.full {
    padding: 20px 80px;
    width: 100%;
    top: 15%;
    bottom: 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.full strong {
    display: inline-block;
    margin: 10px 0;
}

.large {
    font-size: 130%;
}

.half-right {
    min-height: 100%;
    padding: 0 50px;
    left: 50%;
    right: 0;
}

.half-left {
    min-height: 100%;
    padding: 0 50px;
    right: 50%;
    left: 0;
}

strong {
    font-weight: 800;
}

sup {
    opacity: 0.5;
}
